{{ define "main" }}
<Section class="content">

	<div class="content-header">
		<div class="container">
			<div class="header-title">
				<h1 class="title">{{ .Title }}</h1>
			</div>
		</div>
	</div>

	<div class="archive">
		<div class="container">

			<div class="article-tab">
				<div class="row mt-3">
					{{ range $name, $taxonomy := .Site.Taxonomies.tags }}
					<div class="col-6 col-md-3 mb-3">
						
						<a class="feature shadow" href="/tags/{{ $name | urlize }}">
							<div class="feature-title">
								<span class="title text-sm">{{ $name }} <small>({{ .Count }})</small></span>
							</div>
							{{ range .Pages | first 1 }}
							<div class="feature-link" style="background-image: url({{ .Params.feature }});">
								<div class="feature-hover"></div>
							</div>
							{{ end }}
						</a>
					</div>
					{{ end }}
				</div>
			</div>

			{{- range  (where (where site.RegularPages "Type" "in" site.Params.mainSections) "Kind" "page").GroupByDate "2006" }}
			<div class="archive-group">
				{{- range .Pages.GroupByDate "2006" }}
				<div class="archive-header">
					<h3>{{ .Key }}</h3>
				</div>
				<div class="archive-list row">
					{{- range .Pages }}
					<div class="col-12 col-sm-12 col-md-6 col-lg-6 mt-3">
						<div class="archive-item">
							<div class="item-inner mr-3 py-2">
								<a class="item-title text-sm mb-2" href="{{.Permalink}}">{{.Title}}</a>
								<span class="article-date">
									{{ .Date.Format ($.Site.Params.DateFormatSingle | default "2006-01-02") }}
								</span>
							</div>
							<div class="item-thumb col-3" style="background-image: url({{ .Params.feature }});"></div>
						</div>
					</div>

					{{ end }}
				</div>

				{{- end }}
			</div>
			{{- end }}
		</div>
		<!--posts-group end-->
	</div>

</Section>
{{ end }}