:root {
	--light-background: #fff;
	--light-background-secondary: #f4f5f9;
	--light-header: #fff;
	--light-main-color: rgba(0, 0, 0, .85);
	--light-color: rgba(0, 0, 0, .65);
	--light-color-secondary: rgba(0, 0, 0, .45);
	--light-border-color: #f4f6f8;
	--dark-background: #292a2d;
	--dark-background-secondary: #3b3d42;
	--dark-header: #252627;
	--dark-main-color: rgba(255, 255, 255, .85);
	--dark-color: rgba(255, 255, 255, .65);
	--dark-color-secondary: rgba(255, 255, 255, .45);
	--dark-border-color: #4a4b50;
	--main-color: #1890ff;
	--main-hover-color: #40a9ff;
	--phoneWidth: (max-width:684px);
	--tabletWidth: (max-width:900px);
}

@font-face {
	font-family: "iconfont";
	src: url('//at.alicdn.com/t/font_1941671_2ucu9ozmftm.woff2?t=1624434622738') format('woff2'),
		url('//at.alicdn.com/t/font_1941671_2ucu9ozmftm.woff?t=1624434622738') format('woff'),
		url('//at.alicdn.com/t/font_1941671_2ucu9ozmftm.ttf?t=1624434622738') format('truetype');
}

html {
	box-sizing: border-box;
}

*,
:after,
:before {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	background-color: #fff;
	background-color: var(--light-background);
	color: #222;
	color: var(--light-color);
	font-weight: 400;
	font-size: .875rem;
	font-family: Microsoft JhengHei;
	line-height: 1.5;
	text-rendering: optimizeLegibility;
	-webkit-overflow-scrolling: touch;
	-webkit-text-size-adjust: 100%;
}

@media (max-width:768px) {
	body {
		font-size: .875rem;
	}
}

body.dark-theme {
	background-color: #292a2d;
	background-color: var(--dark-background);
	color: #a9a9b3;
	color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: var(--light-color);
	font-weight: 500;
	font-family: "PingFangSC-Medium", "PingFangSC-Regular", "PingFang SC", "Microsoft YaHei", Arial, Helvetica, "WenQuanYi Micro Hei", "tohoma,sans-serif";
	cursor: default;
}

.dark-theme h1,
.dark-theme h2,
.dark-theme h3,
.dark-theme h4,
.dark-theme h5,
.dark-theme h6 {
	color: var(--dark-color);
}

h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.25rem;
}

h3 {
	font-size: 1rem;
}

h4 {
	font-size: .875rem;
}

@media (max-width:768px) {
	h1 {
		font-size: 1.25rem;
	}

	h2 {
		font-size: 1rem;
	}

	h3 {
		font-size: .875rem;
	}

	h4 {
		font-size: .75rem;
	}
}

a {
	outline: none;
	background-color: transparent;
	color: #222831;
	color: var(--light-color);
	text-decoration: none;
	cursor: pointer;
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
	-webkit-text-decoration-skip: objects;
}

.dark-theme a {
	color: var(--dark-color);
}

a:focus {
	-webkit-text-decoration-skip: ink;
	text-decoration-skip: ink;
}

a:hover {
	color: #40a9ff;
}

a:active {
	color: #096dd9;
}

a:active,
a:hover {
	outline: 0;
	text-decoration: none;
}

a[disabled] {
	color: rgba(0, 0, 0, 0.45);
	cursor: not-allowed;
	pointer-events: none;
}

i {
	font-style: normal;
}

img {
	display: inline-block;
	max-width: 100%;
	border-radius: .33rem;
}

img.center,
img.left {
	margin-right: auto;
}

img.center,
img.right {
	margin-left: auto;
}

code {
	margin: 0 4px;
	padding: 3px 8px 2px;
	border: 1px solid #b8e0f3;
	border-radius: .33rem;
	background-color: #e6f7ff;
	vertical-align: middle;
	font-size: .75rem;
}

.dark-theme code {
	border: 1px solid #4a4b50;
	border: 1px solid var(--dark-border-color);
	background: #292a2d;
	background: var(--dark-background-secondary);
}

pre {
	overflow: auto;
	margin: 1.5rem 0;
	padding: 1rem 1.5rem;
	border-radius: .33rem;
	background: #f5f5f5;
	font-size: .75rem;
}

.dark-theme pre {
	background: #3b3d42;
	background: var(--dark-background-secondary);
}

@media (max-width:768px) {
	pre {
		word-wrap: break-word;
	}
}

pre code {
	margin: 0;
	padding: 0;
	border: none;
	background-color: #f5f5f5;
}

.dark-theme pre code {
	margin: 0;
	padding: 0;
	border: none;
	color: inherit;
}

blockquote {
	margin: 1.5rem 0;
	padding: .5rem 1rem;
	border-left: 4px solid #f4f6f8;
	border-left: 4px solid var(--light-border-color);
}

.dark-theme blockquote {
	border-left: 4px solid #4a4b50;
	border-left: 4px solid var(--dark-border-color);
}

@media (max-width:768px) {
	blockquote {
		margin: 10px;
		padding: 10px;
	}
}

blockquote p:first-of-type {
	margin-top: 0;
}

blockquote p:last-of-type {
	margin-bottom: 0;
}

table {
	margin: 40px 0;
	width: 100%;
	border-collapse: collapse;
	border-radius: .33rem;
	table-layout: fixed;
}

table,
td,
th {
	padding: 10px;
	border: 1px solid #EBEDF0;
}

.dark-theme table,
.dark-theme td,
.dark-theme th {
	border: 1px solid #4a4b50;
	border: 1px solid var(--dark-border-color);
}

th {
	background: #fafafa;
	background: var(--light-background-secondary);
}

.dark-theme th {
	background: #3b3d42;
	background: var(--dark-background-secondary);
}

ol,
ul {
	margin: 0;
	padding: 0;
}

@media (max-width:768px) {

	ol,
	ul {
		margin: 0;
	}
}

ol ol {
	list-style-type: lower-alpha;
}

button,
a {
	text-decoration: none;
	cursor: pointer;
}

.button-container {
	display: table;
	margin-right: auto;
	margin-left: auto;
}

.button,
a.button,
button {
	position: relative;
	display: flex;
	margin-bottom: 5px;
	padding: .5rem 1rem;
	outline: none;
	border: 1px solid transparent;
	border-radius: .33rem;
	background: #eaeaea;
	background: var(--light-background-secondary);
	text-align: center;
	text-decoration: none;
	font-weight: 500;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.dark-theme .button,
.dark-theme a.button,
.dark-theme button {
	background: #3b3d42;
	background: var(--dark-background-secondary);
	color: inherit;
}

.button.outline,
a.button.outline,
button.outline {
	padding: 8px 18px;
	border-color: #eaeaea;
	border-color: var(--light-background-secondary);
	background: transparent;
	box-shadow: none;
}

.dark-theme .button.outline,
.dark-theme a.button.outline,
.dark-theme button.outline {
	border-color: #3b3d42;
	border-color: var(--dark-background-secondary);
	color: inherit;
}

.button.outline :hover,
a.button.outline :hover,
button.outline :hover {
	box-shadow: none;
	-webkit-transform: none;
	transform: none;
}

.button.primary,
a.button.primary,
button.primary {
	box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

.button.primary:hover,
a.button.primary:hover,
button.primary:hover {
	box-shadow: 0 2px 6px rgba(50, 50, 93, .21), 0 1px 3px rgba(0, 0, 0, .08);
}

.button.link,
a.button.link,
button.link {
	background: none;
	font-size: 1rem;
}

.button.small,
a.button.small,
button.small {
	font-size: .8rem;
}

.button.wide,
a.button.wide,
button.wide {
	padding: 14px 1.5rem;
	min-width: 200px;
}

textarea {
	font-family: "PingFangSC-Regular", "PingFang SC", "Microsoft YaHei", Arial, Helvetica, "WenQuanYi Micro Hei", "tohoma,sans-serif";
}

.command-line-prompt {
	float: left;
	display: block;
	margin-right: 1em;
	border-right: 1px solid #999;
	letter-spacing: -1px;
	font-size: 100%;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.command-line-prompt>span:before {
	display: block;
	padding-right: .8em;
	color: #999;
	content: " ";
}

.command-line-prompt>span[data-user]:before {
	content: "["attr(data-user) "@"attr(data-host) "] $";
}

.command-line-prompt>span[data-user=root]:before {
	content: "["attr(data-user) "@"attr(data-host) "] #";
}

.command-line-prompt>span[data-prompt]:before {
	content: attr(data-prompt);
}

.code-toolbar .toolbar-item a {
	position: relative;
	display: inline-flex;
	margin-bottom: 5px;
	padding: 3px 8px;
	outline: none;
	border: 1px solid transparent;
	border-radius: .33rem;
	background: #eaeaea;
	background: var(--light-background-secondary);
	text-align: center;
	text-decoration: none;
	font-weight: 500;
	font-size: 13px;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.dark-theme .code-toolbar .toolbar-item a {
	background: #3b3d42;
	background: var(--dark-background-secondary);
	color: inherit;
}

hr {
	width: 100%;
	height: 1px;
	border: none;
	background: #dcdcdc;
	background: var(--light-border-color);
}

.dark-theme hr {
	background: #4a4b50;
	background: var(--dark-border-color);
}

.hidden {
	display: none;
}

.separator {
	position: relative;
}

.separator::after {
	position: absolute;
	top: 0;
	right: .5rem;
	color: var(--main-color);
	content: "•";
}

.header {
	position: relative;
	display: flex;
	padding: 20px 0;
	background: #fff;
	background: var(--light-header);
	box-shadow: 0px 5px 60px 0px rgba(17, 58, 93, 0.1);
	align-items: center;
	justify-content: center;
}

.dark-theme .header {
	background: #252627;
	background: var(--dark-header);
}

.header-center {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.header-right {
	display: flex;
	width: 120px;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

@media (max-width:768px) {
	.header-right {
		flex-direction: row-reverse;
		justify-content: flex-start;
	}
}

.header-right .iconfont {
	font-size: 20px;
}

.header-inner {
	justify-content: space-between;
}

.header-inner,
.theme-toggle {
	display: flex;
	align-items: center;
}

.theme-search {
	margin: 0 1rem;
	line-height: 1;
	cursor: pointer;
	justify-content: center;
}

.theme-toggle {
	line-height: 1;
	cursor: pointer;
	justify-content: center;
}

.theme-toggle .iconfont {
	color: rgba(0, 0, 0, 0.45);
}

.dark-theme .theme-toggle .iconfont {
	color: var(--dark-color);
}

.theme-toggler {
	fill: currentColor;
}

.logo {
	display: flex;
	max-width: 100px;
	text-decoration: none;
	align-items: center;
	flex: 0 0 auto;
}

@media (min-width: 768px) {
	.logo {
		max-width: 120px;
	}
}

.logo img {
	height: auto;
}

.logo-text {
	font-size: 1.125rem;
}

.menu {
	--shadow-color: rgba(0, 0, 0, 0.12);
	--shadow: 0 8px 20px var(--shadow-color);
}

@media (max-width:683px) {
	.menu {
		position: absolute;
		top: 50px;
		right: 10px;
		z-index: 99;
		margin: 0;
		padding: 5px;
		border: none;
		border-radius: .33rem;
		background: #fafafa;
		background: var(--light-header);
		box-shadow: var(--shadow);
		list-style: none;
	}

	.dark-theme .menu {
		background: #3b3d42;
		background: var(--dark-background-secondary);
	}
}

.menu a {
	color: rgba(0, 0, 0, 0.45);
	color: var(--light-color-secondary);
	text-decoration: none;
}

.dark-theme .menu a {
	color: rgba(255, 255, 255, 0.45);
	color: var(--dark-color-secondary);
}

.menu a:hover {
	color: rgba(0, 0, 0, 0.65);
	color: var(--light-color);
}

.dark-theme .menu a:hover {
	color: rgba(255, 255, 255, 0.65);
	color: var(--dark-color);
}

.menu__inner {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
}

@media (max-width:683px) {
	.menu__inner--desktop {
		display: none;
	}
}

.menu__inner--mobile {
	display: none;
}

@media (max-width:683px) {
	.menu__inner--mobile {
		display: block;
	}
}

.menu__inner li {
	position: relative;
	text-align: left;
	line-height: 1.5rem;
	flex: 0 0 auto;
}

.menu__inner li:before {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 0;
	height: 1px;
	background: #40a9ff;
	content: "";
	-webkit-transition: width 0.3s ease;
	transition: width 0.3s ease;
}

.menu__inner li:hover:before {
	right: auto;
	left: 0;
	width: 100%;
}

.menu__inner li:not(:first-of-type) {
	margin-left: 1.5rem;
}

@media (max-width:683px) {
	.menu__inner {
		padding: 0 1.5rem;
		flex-direction: column;
		align-items: flex-start;
	}

	.menu__inner li {
		margin-top: 1rem;
		margin-bottom: 1rem;
		margin-left: 0 !important;
		padding: 2px 0;
	}
}

.menu__sub-inner {
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu__sub-inner:not(:only-child) {
	margin-left: 20px;
}

.menu__sub-inner-more {
	position: absolute;
	top: 35px;
	left: 0;
	z-index: 99;
	margin: 0;
	padding: 5px;
	border-radius: .33rem;
	background: #fafafa;
	background: var(--light-header);
	box-shadow: var(--shadow);
	list-style: none;
}

.dark-theme .menu__sub-inner-more {
	background: #3b3d42;
	background: var(--dark-background-secondary);
}

.menu__sub-inner-more-trigger {
	display: inline-flex;
	cursor: pointer;
	align-items: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.menu__sub-inner-more-trigger-icon {
	display: inline-flex;
	margin-left: 3px;
	line-height: 1;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	align-items: center;
}

.menu__sub-inner-more-trigger-icon .greater-icon {
	width: .95rem;
	height: 100%;
}

.menu__sub-inner-more-trigger-icon .greater-icon path {
	stroke: currentColor;
	stroke-width: 5px;
}

.menu__inner .menu__sub-inner-more li {
	margin-left: 0;
	padding: 10px;
	white-space: nowrap;
}

.menu__inner .menu__sub-inner-more li:hover {
	border-radius: .33rem;
	background: rgba(0, 0, 0, .05);
	cursor: pointer;
}

.dark-theme .menu__inner .menu__sub-inner-more li:hover {
	background: rgba(0, 0, 0, .15);
}

.menu-trigger {
	margin-left: 10px;
	cursor: pointer;
	fill: currentColor;
}

.banner {
	display: flex;
	align-items: center;
}

.banner .banner-row {
	display: flex;
}

.banner .banner-inner {
	display: flex;
	border-radius: .33rem;
	justify-content: center;
}

.banner .banner-inner::after {
	display: block;
	padding-bottom: 100%;
	content: "";
}

.banner .banner-inner .banner-link {
	position: relative;
	display: flex;
	border-radius: inherit;
	border-radius: inherit;
	background-position: center;
	background-size: cover;
	flex: 1;
	align-items: center;
}

.banner .banner-inner .banner-link .banner-hover {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: inherit;
	background-color: rgba(64, 169, 255, .65);
	content: '';
	opacity: 0;
	transition: transform 0.4s cubic-bezier(0.51, 0.01, 0.18, 1.03), opacity 0.3s ease;
}

.banner .banner-inner .banner-link:hover .banner-hover {
	opacity: 1;
}

.banner .banner-inner .banner-link .banner-title {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	display: flex;
	overflow: hidden;
	color: #FFF;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.banner .banner-inner .banner-link .banner-title span {
	opacity: 0;
	transition: transform .4s ease;
	transform: translate3d(0, 100%, 0);
}

.banner .banner-inner .banner-link:hover .banner-title span {
	opacity: 1;
	transition: transform .4s ease;
	transform: translate3d(0, 0, 0);
}

.index {
	margin: 0 0 2rem;
	flex-direction: column;
	flex: 1 auto;
	align-items: center;
}

@media (max-width:768px) {
	.index {
		margin-top: 1.5rem;
	}
}

.content {
	margin: 0;
	flex-direction: column;
	flex: 1 auto;
	align-items: center;
}

.content-header {
	padding: 3rem 0;
	background-color: #f4f5f9;
	background-color: var(--light-background-secondary);
}

.dark-theme .content-header {
	background-color: #3b3d42;
	background-color: var(--dark-background-secondary);
}

.content-header .header-title {
	position: relative;
	display: flex;
}

.content-header .header-title .title {
	position: relative;
	margin: 0;
}

.content-header .header-title .title:before {
	position: absolute;
	top: 54%;
	right: 1px;
	left: 1px;
	height: 20%;
	background-color: #2663fc;
	content: '';
	opacity: 0.33;
	-webkit-transform: translate(0%, -50%);
	transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%);
}

.content-inner {
	position: relative;
}

.article-list {
	margin-top: 1rem;
}

.article-item {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 2rem;
	min-width: 0;
	word-wrap: break-word;
	-ms-flex-direction: row;
	flex-direction: row;
}

.article-content {
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

.article-body {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

.article-title {
	margin: 0;
	font-family: var(--serif);
	-webkit-transition: color .3s ease-in-out;
	-o-transition: color .3s ease-in-out;
	transition: color .3s ease-in-out;
}

.article-title a {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.article-inner {
	margin-top: 1.5rem;
	color: var(--light-color-secondary);
}

.dark-theme .article-inner {
	color: var(--dark-color-secondary);
}

.article-item:hover .article-title {
	color: #40a9ff;
}

.article-footer {
	margin-top: .75rem;
}

.article-data {
	position: relative;
	margin: 0 1rem 1rem;
}

.show-details p {
	display: -webkit-box;
}

.article-metadata {
	color: #7a8b9a;
	color: var(--light-color);
	opacity: .65;
}

.dark-theme .article-metadata {
	color: rgba(255, 255, 255, .65);
	color: var(--dark-color);
}

.article-image {
	position: relative;
}

.feature {
	position: relative;
	display: flex;
	padding: 0;
	border-radius: .33rem;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.feature:after {
	display: block;
	padding-top: 100%;
	content: '';
}

.feature-link {
	position: relative;
	border-radius: inherit;
	background-color: var(--light-background-secondary);
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	flex: 1;
	object-fit: cover;
}

.feature .feature-hover {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: inherit;
	background-color: rgba(64, 169, 255, .65);
	content: '';
	opacity: 0;
	transition: transform 0.4s cubic-bezier(0.51, 0.01, 0.18, 1.03), opacity 0.3s ease;
}

.feature .feature-title {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	display: flex;
	overflow: hidden;
	color: #FFF;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.feature .feature-title span {
	opacity: 0;
	transition: transform .4s ease;
	transform: translate3d(0, 100%, 0);
}

.feature:hover .feature-hover {
	opacity: 1;
}

.feature:hover .feature-title span {
	opacity: 1;
	transition: transform .4s ease;
	transform: translate3d(0, 0, 0);
}

.feature img {
	position: absolute;
	width: 100%;
	height: 100%;
}

.post {
	position: relative;
	padding: 2rem 0;
}

.post-main {
	overflow: visible;
	margin-right: 0;
	line-height: 2;
}

@media (min-width: 768px) {
	.post-main {
		margin-right: 1.5rem;
	}
}

.post-header {
	position: relative;
	margin-bottom: 2rem;
}

.post-title {
	margin: 0;
	font-weight: normal;
	font-variant: tabular-nums;
	font-family: "PingFangSC-Medium", "PingFangSC-Regular", "PingFang SC", "Microsoft YaHei", Arial, Helvetica, "WenQuanYi Micro Hei", "tohoma,sans-serif";
	line-height: 1.5;
	--shadow-color: rgba(0, 0, 0, 0.12);
	--shadow: 0 8px 20px var(--shadow-color);
}

.post-title a {
	text-decoration: none;
}

.post-meta {
	position: relative;
	display: flex;
	align-items: center;
}

.post-meta .item {
	position: relative;
	display: inline-block;
	margin-right: 1rem;
	padding-right: 1rem;
	text-align: center;
	text-transform: capitalize;
	font-size: .875rem;
	cursor: pointer;
}

.post-meta .item:not(:last-child)::after {
	position: absolute;
	top: 0;
	right: -3px;
	color: var(--main-color);
	content: "•";
}

.post-content {
	overflow: visible;
	margin: 0 0 1.5rem;
	padding: 0;
	height: auto;
	text-align: justify;
	line-height: 2;
}

.post-content h3 {
	position: relative;
	left: 2em;
	margin: 28px auto 18px !important;
	letter-spacing: 2px;
}

.post-content ul>li {
	margin-left: 20px;
	padding-left: 4px;
	list-style-type: circle;
}

.post-content img {
	display: flex;
	width: 100%;
	border-radius: .33rem;
	background-color: #EBEDF0;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	flex: 1;
	-webket-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
}

.post-inner {
	line-height: 2;
}

.post-inner h2,
.post-inner h3,
.post-inner h4,
.post-inner h5,
.post-inner h6 {
	clear: both;
	margin: 1.5rem 0 .5rem;
	font-weight: 500;
}

.post-avatar.avatar {
	float: left;
	margin: .5rem 1rem 0 0;
	width: 48px;
	border-radius: 50%;
	box-shadow: 0 1rem 40px rgba(0, 0, 0, .15);
}

.post-tags {
	display: block;
	margin-bottom: 20px;
	font-size: 1rem;
	opacity: .5;
}

.post-tags a {
	text-decoration: none;
}

#all-tags a {
	margin-right: 1rem;
	text-decoration: none;
	font-size: 1.33rem;
}

@media (max-width:768px) {
	#all-tags a {
		margin-right: 0.5rem;
		font-size: 0.95rem;
	}
}

.post-cover {
	margin: 0 auto;
	width: 100%;
	border-radius: .33rem;
}

@media (max-width:899px) {
	.post-cover {
		margin: 20px 0;
		width: 100%;
	}
}

.post--regulation h1,
.post--regulation h2 {
	justify-content: center;
}

.post--regulation h2 {
	margin-bottom: 10px;
}

.post--regulation h2+h2 {
	margin-top: -10px;
	margin-bottom: 20px;
}

.post-footer {
	position: relative;
	display: flex;
	margin: 1.5rem 0;
	padding: 1.5rem 0 1rem;
	border-bottom: 1px solid #f4f6f8;
	border-bottom: 1px solid var(--light-border-color);
	align-items: center;
}

.dark-theme .post-footer {
	border-bottom: 1px solid #4a4b50;
	border-bottom: 1px solid var(--dark-border-color);
}

.post-footer .item {
	position: relative;
	font-size: .875rem;
	cursor: pointer;
	-webkit-transform: all .3s linear;
	-moz-transform: all .3s linear;
	transform: all .3s linear;
	-ms-transform: all .3s linear;
}

.post-footer .item.leancloud-visitors {
	flex: 1;
}

.post-footer .item .iconfont {
	font-size: inherit;
}

.post-footer .item:hover .iconfont {
	color: #1890ff;
}

.post-navigation {
	position: relative;
	overflow: hidden;
	margin: 2rem 0;
}

.post-card {
	padding: 1rem 0;
}

.post-card:not(:first-child) {
	border-top: 1px solid #f4f6f8;
	border-top: 1px solid var(--light-border-color);
}

.dark-theme .post-card:not(:first-child) {
	border-top: 1px solid #4a4b50;
	border-top: 1px solid var(--dark-border-color);
}

.post-card .card-content {
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	justify-content: space-between;
}

.card-content .card-body {
	position: relative;
	padding-top: 2px;
}

.card-content .card-body a:hover,
.card-content .card-body a:active,
.card-content .card-body a:focus {
	display: block;
	color: #1890ff;
}

.card-content .card-body h3 {
	display: flex;
	align-items: center;
}

.card-content .card-body .title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.card-footer {
	display: flex;
	margin: 2px 0;
	align-items: center;
}

.card-footer .item {
	position: relative;
	margin-right: 1rem;
	padding-right: 1rem;
	color: rgba(0, 0, 0, 0.45);
	color: var(--light-color-secondary);
}

.dark-theme .card-footer .item {
	color: rgba(255, 255, 255, 0.45);
	color: var(--dark-color-secondary);
}

.card-footer .item:not(:last-child):after {
	position: absolute;
	top: 0;
	right: -3px;
	color: var(--main-color);
	content: "•";
}

.post-card .card-thumb {
	position: relative;
}

.post-card .card-thumb a {
	display: block;
	padding-bottom: 56%;
	width: 100%;
	border-radius: .33rem;
	background-color: #F2F4F6;
	background-position: center;
	background-size: cover;
}

.post-sidebar {
	width: 0;
	flex: 1;
}

.sidebar {
	position: relative;
	margin: 0 0 2rem;
	padding: 0;
}

.sidebar-title {
	margin-bottom: 1.5rem;
	padding: 0 1rem;
	border-left: 3px solid var(--main-color);
	font-weight: 500;
	font-size: 1rem;
}

.post-recent {
	position: relative;
}

.post-recent .recent-list {
	margin: 0;
}

.post-recent .recent-list li {
	display: flex;
	margin-bottom: 1rem;
	list-style-type: none;
	align-items: center;
}

.post-recent .recent-list li a {
	display: block;
	overflow: hidden;
	margin-bottom: 8px;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
}

.post-recent .recent-list li .recent-date {
	color: #788193;
	font-size: .75rem;
}

.recent-thumb {
	margin-right: 8px;
	width: 48px;
	height: 48px;
	min-width: 48px;
	border-radius: .33rem;
	background-position: center;
	background-size: cover;
}

.recent-content {
	display: flex;
	width: 0;
	flex: 1;
	flex-flow: column;
}

.post-toc ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.post-toc ul li {
	position: relative;
	display: flex;
	margin-bottom: .75rem;
	padding: 0 0 .75rem;
	border-bottom: 1px solid #f4f6f8;
	border-bottom: 1px solid var(--light-border-color);
	color: #7a8b9a;
	text-align: justify;
	text-transform: uppercase;
	font-size: .75rem;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-align: center;
	align-items: center;
	justify-content: space-between;
}

.dark-theme .post-toc ul li {
	border-bottom: 1px solid #4a4b50;
	border-bottom: 1px solid var(--dark-border-color);
}

.post-toc ul li a {
	margin: 0 1px;
	font-size: .875rem;
	flex: 1;
}

.post-toc ul li a.current {
	color: #1890ff;
}

.pagination {
	display: flex;
	border-radius: .33rem;
	list-style: none;
}

.pagination-buttons {
	position: relative;
	display: flex;
	width: 100%;
}

.pagination-nav {
	flex: 1;
}

.nav-links {
	position: relative;
	display: flex;
}

.nav-links li {
	float: left;
	list-style: none;
}

.page-item .page-link {
	position: relative;
	display: inline-block;
	margin: 0 .5rem 0 0;
	padding: .5rem .875rem;
	border-radius: 0.33rem;
	background-color: #f4f5f9;
	background-color: var(--light-background-secondary);
	color: #a9a9b3;
	font-size: 0.75rem;
	transition: all .3s linear;
}

.dark-theme .page-item .page-link {
	background-color: #3b3d42;
	background-color: var(--dark-background-secondary);
}

.page-item:hover .page-link,
.page-item.active .page-link {
	z-index: 2;
	background-color: #1890ff;
	box-shadow: 0px 5px 20px -3px rgba(24, 144, 255, 0.5);
	color: #fff !important;
}

.pagination-menu .page-item:last-child .page-link {
	margin: 0;
}

.footer {
	position: relative;
	color: #999;
	color: var(--light-color);
}

.dark-theme .footer {
	color: #73747b;
	color: var(--dark-color);
}

.footer__inner {
	margin: 0 auto;
	max-width: 100%;
	align-items: center;
	justify-content: space-between;
}

@media (max-width:899px) {
	.footer__inner {
		flex-direction: column;
	}
}

.footer-content {
	padding: 1.5rem 0;
	border-top: 1px solid #f4f6f8;
	border-top: 1px solid var(--light-border-color);
	font-size: .75rem;
}

.dark-theme .footer-content {
	border-top: 1px solid #4a4b50;
	border-top: 1px solid var(--dark-border-color);
}

.copyright {
	position: relative;
	display: flex;
	line-height: 1.5rem;
}

.socials {
	position: relative;
	text-align: right;
	font-size: 18px;
	line-height: 1.5rem;
}

.socials a .iconfont {
	font-size: 16px;
}

.backtop {
	position: fixed;
	right: 24px;
	bottom: 24px;
	z-index: 1;
	width: 36px;
	height: 36px;
	border-radius: .33rem;
	background-color: var(--light-main-color);
	text-align: center;
	line-height: 36px;
	-webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.backtop:hover,
.backtop:focus {
	background-color: var(--main-color);
	background-color: #1890ff;
}

.backtop i {
	color: var(--light-background);
	font-size: 1rem;
}

.terms {
	margin: 0 auto;
	padding: 20px;
	width: 100%;
	max-width: 800px;
	text-align: left;
}

.terms__list {
	margin: 0;
	padding: 0 0 0 20px;
}

.terms__list a {
	text-decoration: none;
}

.terms__term {
	margin-bottom: 15px;
}

.terms__term-count {
	margin-left: 5px;
	padding: 2px 10px;
	border-radius: .33rem;
	background: #eaeaea;
	background: var(--light-background-secondary);
	text-decoration: none;
	font-size: 1rem;
}

.dark-theme .terms__term-count {
	background: #3b3d42;
	background: var(--dark-background-secondary);
}

.archives__inner {
	margin: 0;
}

.archive {
	margin: 0 auto;
	padding: 0;
}

.archive-title {
	margin-bottom: 1.5rem;
}

.archive-title h1 {
	margin: 0 0 .5rem;
}

.archive-group {
	position: relative;
	margin: 0 0 2rem;
	padding: 0;
}

.archive-header {
	padding: 1rem 0;
}

.archive-header h3 {
	margin: 0;
	font-size: 18px;
}

.archive-list {
	position: relative;
	display: -ms-flexbox;
	display: flex;
}

.archive-item {
	position: relative;
	display: flex;
	min-width: 0;
}

.archive-item .item-thumb {
	box-sizing: border-box;
	padding: 0;
	border: 1px solid #f4f5f9;
	border: 1px solid var(--light-border-color);
	border-radius: .33rem;
	background-color: #f4f5f9;
	background-color: var(--light-background-secondary);
	background-position: center;
	background-size: cover;
}

.dark-theme .archive-item .item-thumb {
	border: 1px solid #4a4b50;
	border: 1px solid var(--dark-border-color);
	background-color: #3b3d42;
	background-color: var(--dark-background-secondary);
}

.archive-item .item-thumb.item-avatar {
	width: 48px;
}

.archive-item .item-thumb::after {
	display: block;
	padding-top: 100%;
	content: "";
}

.archive-item .item-inner {
	position: relative;
	display: flex;
	overflow: hidden;
	line-height: 1.5;
	flex: 1;
	flex-flow: column;
}

.archive-item .item-inner .item-title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	flex: 1;
}

.archive-item .item-inner .article-date {
	overflow: hidden;
	color: #7a8b9a;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.search-box {
	position: relative;
	display: flex;
	border: 2px solid #e3e6ec;
	border-radius: .33rem;
	background-color: #fff;
	background-color: var(--light-background);
	flex: 1;
	align-items: center;
}

.dark-theme .search-box {
	border: 2px solid #4a4b50;
	background-color: #3b3d42;
	background-color: var(--dark-background-secondary);
}

#searchBoxInput {
	margin: 0;
	padding: 1rem;
	outline: none;
	border: none;
	background-color: transparent;
	font-size: 14px;
	flex: 1;
}

.dark-theme #searchBoxInput {
	color: rgba(255, 255, 255, .45);
	color: var(--dark-color-secondary);
}

#searchBoxButton {
	margin: 0;
	padding: 10px;
	border: 0 none;
	border-radius: 0;
	background: none;
	color: rgba(0, 0, 0, .45);
	color: var(--light-color-secondary);
}

#searchBoxButton:hover {
	color: rgba(0, 0, 0, .65);
	color: var(--light-color);
}

.dark-theme #searchBoxButton {
	color: rgba(255, 255, 255, .45);
	color: var(--dark-color-secondary);
}

.dark-theme #searchBoxButton:hover {
	color: rgba(255, 255, 255, .65);
	color: var(--dark-color);
}

.search {
	position: relative;
	margin: 2rem 0;
}

.search-title {
	display: flex;
	margin-bottom: 2rem;
	justify-content: center;
}

/* twikoo */
.tk-tag,
.tk-extras,
.tk-row.actions .tk-action-icon.__markdown,
.tk-preview,
.tk-content p a.at {
	display: none !important;
}

.tk-content img {
	max-width: 24px !important;
	max-height: 24px !important;
}

.tk-footer {
	display: none;
}

/* post-preview */
.post-preview {
	position: relative;
	display: flex;
	margin: 1em auto;
	height: 210px;
	max-width: 680px;
	border-radius: .33rem;
	background: #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .25);
}

.post-preview--meta {
	overflow: hidden;
	padding: 25px;
	width: 75%;
}

.post-preview--middle {
	line-height: 28px;
}

.post-preview--title {
	margin: 0 !important;
	font-size: 18px;
}

.post-preview--title a {
	text-decoration: none;
}

.post-preview--date {
	color: #999;
	font-size: 14px;
}

.post-preview--excerpt {
	font-size: 14px;
	line-height: 1.825;
}

.post-preview--excerpt p {
	margin-bottom: 0;
}

.post-preview--image {
	float: right;
	width: 25%;
	height: auto;
	border-top-right-radius: 2px !important;
	border-bottom-right-radius: 2px !important;
	border-bottom-left-radius: 0 !important;
	border-top-left-radius: 0 !important;
}

/* SLIMBOX2 */
#lbOverlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 100%;
	background-color: #000;
	cursor: pointer;
}

#lbCenter,
#lbBottomContainer {
	position: absolute;
	z-index: 9999;
	overflow: hidden;
	background-color: #fff;
}

.lbLoading {
	background: #fff url('') no-repeat center;
}

#lbImage {
	position: absolute;
	top: 0;
	left: 0;
	border: 6px solid #fff;
	background-repeat: no-repeat;
}

#lbPrevLink,
#lbNextLink {
	position: absolute;
	top: 0;
	display: block;
	width: 50%;
	outline: none;
}

#lbPrevLink {
	display: flex;
	align-items: center;
	justify-content: start;
}

#lbPrevLink i,
#lbNextLink i {
	padding: 0 1rem;
	font-size: 2rem;
}

#lbNextLink {
	right: 0;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

/* tocify */
.tocify {
	position: absolute;
	right: 2%;
	overflow: auto;
	width: 20%;
	max-height: 90%;
	border-radius: .33rem;
}

.tocify ul,
.tocify li {
	margin: 0;
	padding: 0;
	border: none;
	list-style: none;
	line-height: 30px;
}

.tocify li a {
	display: inline-block;
	text-decoration: none;
	text-indent: 10px;
	font-size: 14px;
}

.tocify ul ul li a:before {
	content: "- ";
}

@media only screen and (max-width:768px) {
	.tocify {
		display: none;
	}
}

/* iconfont */
.iconfont {
	font-style: normal;
	font-size: 18px;
	font-family: "iconfont" !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.iconlink:before {
	content: "\e7e2";
}

.iconup:before {
	content: "\e7ef";
}

.icondown:before {
	content: "\e7f0";
}

.iconright:before {
	content: "\e7eb";
}

.iconleft:before {
	content: "\e7ee";
}

.iconsync:before {
	content: "\e786";
}

.iconmessage:before {
	content: "\e78a";
}

.iconsetting:before {
	content: "\e78e";
}

.iconeye:before {
	content: "\e78f";
}

.iconlocation:before {
	content: "\e790";
}

.iconappstore:before {
	content: "\e792";
}

.iconskin:before {
	content: "\e7c4";
}

.iconlike:before {
	content: "\e7c8";
}

.iconunlike:before {
	content: "\e7c9";
}

.iconcarryout:before {
	content: "\e7d3";
}

.iconcalendar:before {
	content: "\e7d4";
}

.iconscan:before {
	content: "\e7d5";
}

.iconsliders:before {
	content: "\e7d6";
}

.iconprinter:before {
	content: "\e7d8";
}

.iconread:before {
	content: "\e7d9";
}

.iconradarchart:before {
	content: "\e7dc";
}

.iconqrcode:before {
	content: "\e7dd";
}

.iconmail:before {
	content: "\e7df";
}

.iconheart:before {
	content: "\e7e0";
}

.iconstar:before {
	content: "\e7e1";
}

.icontags:before {
	content: "\e7e5";
}

.iconfullscreen:before {
	content: "\e7ec";
}

.iconfullscreen-exit:before {
	content: "\e7ed";
}

.iconmenu:before {
	content: "\e7f4";
}

.iconheart-fill:before {
	content: "\e849";
}

.iconskin-fill:before {
	content: "\e865";
}

.iconlike-fill:before {
	content: "\e869";
}

.iconunlike-fill:before {
	content: "\e86a";
}

.iconstar-fill:before {
	content: "\e86b";
}

.icontags-fill:before {
	content: "\e86e";
}

.iconmail-fill:before {
	content: "\e86f";
}

.iconprinter-fill:before {
	content: "\e870";
}

.iconsliders-fill:before {
	content: "\e872";
}

.iconapple-fill:before {
	content: "\e881";
}

.iconQQ:before {
	content: "\e882";
}

.icontwitter:before {
	content: "\e883";
}

.iconskype-fill:before {
	content: "\e884";
}

.iconweibo:before {
	content: "\e885";
}

.iconyuque-fill:before {
	content: "\e886";
}

.iconYoutube-fill:before {
	content: "\e887";
}

.iconyahoo-fill:before {
	content: "\e888";
}

.iconwechat-fill:before {
	content: "\e889";
}

.iconalipay-circle-fill:before {
	content: "\e88a";
}

.icongithub-fill:before {
	content: "\e88b";
}

.icondribbble-circle-fill:before {
	content: "\e88c";
}

.icondingtalk-circle-fill:before {
	content: "\e88d";
}

.iconcomment:before {
	content: "\e8e8";
}

.iconsearch:before {
	content: "\e8ef";
}

.iconsend:before {
	content: "\e916";
}