<!DOCTYPE html>
<html lang="{{ $.Site.Language }}">
  <head>
    {{ block "title" . }}
      <title>{{ if .IsHome }}{{ $.Site.Title }}{{ with $.Site.Params.description }} - {{ . }}{{ end }}{{ else }}{{ .Title }} - {{ $.Site.Title }}{{ with $.Site.Params.Subtitle }} — {{ . }}{{ end }}{{ end }}</title>
    {{ end }}
    {{ partial "head.html" . }}
    {{ block "head" . }}
    {{ end }}
  </head>
  <body class="{{ if ne $.Site.Params.defaultTheme "light" -}} dark-theme {{- end -}}">
		<div class="layout">
		
		    {{ partial "header.html" . }}
		
		    {{ block "main" . }}
		    
		    {{ end }}
		    
		    {{ partial "footer.html" . }}
		
		</div>

  </body>
</html>
