{{ define "main" }}
<Section class="content">
	<div class="posts searchPage">

		<div class="content-header">
			<div class="container">
				<div class="header-title">
					    <div class="search-box">
					    	<input type="text" id="searchBoxInput" placeholder="搜点啥……">
					    	<button id="searchBoxButton">
					    		<i class="iconfont iconsearch"></i>
					    	</button>
					    </div>
				</div>
			</div>
		</div>
		
		
		<div class="container">
			<div class="search">
				<div id="searchCount" class="search-title"></div>
				
				<div id="searchResult" class="search-list row"></div>
			</div>
		</div>
		
		
		

	</div>
</Section>
<script type="text/javascript" src='https://fastly.jsdelivr.net/npm/fuse-js-latest@3.1.0/dist/fuse.min.js'></script>
<script type="text/javascript" src="{{ "js/search.js" | absURL }}"></script>
{{ end }}
