<div class="container">

	<div class="banner-row row mt-5">
		{{ $posts := first 5 (where site.RegularPages "Type" "in" site.Params.mainSections) }}
		{{ range $index, $banner := $posts }}
		{{ if le $index 1}}
		<div class="col-12 col-md-6">
		{{ end }}
			{{ if or (le $index 1) (eq $index 3)}}
			<div class="row mb-3">
			{{ end }}
				<div class="items {{ if eq $index 0 }}col-12 col-lg-12{{ else }}col-6 col-lg-6{{ end }}">
					<div class="banner-inner">
						<a href="{{ $banner.RelPermalink }}" class="banner-link" style="background-image: url({{ $banner.Params.feature }});">	
							<div class="banner-hover"></div>
							<div class="banner-title px-3">
								<span class="title text-sm">{{ $banner.Params.title }}</span>
							</div>
						</a>
					</div>
				</div>
				{{ $len := $index }}
			{{ if or (le $index 0) (eq $index 2) (eq (add $index 1) 5) }}
			</div>
			{{ end }}
		{{ if or (eq $index 0) (eq (add $index 1) 5) }}
		</div>
		{{ end }}

		{{ end }}
	</div>

</div>