<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
<meta name="description" content="{{ if .IsHome }}{{ $.Site.Params.description }}{{ else }}{{ .Summary | plainify }}{{ end }}" />
<meta name="keywords" content="{{ with .Params.Keywords }}{{ delimit . ", " }}{{ else }}{{ $.Site.Params.Keywords }}{{ end }}" />
<meta name="referrer" content="never" />
<link rel="canonical" href="{{ .Permalink }}" />
<link rel="stylesheet" href="{{ "css/grid.css" | absURL }}">
<link rel="stylesheet" href="{{ "css/style.css" | absURL }}">
<link rel="shortcut icon" type="image/x-icon" href="{{ "favicon.png" | absURL }}">

<script type="text/javascript" src="{{ "js/jquery.min.js" | absURL }}"></script>
<!-- OG data -->
{{ template "_internal/opengraph.html" . }}
<!-- RSS | JSON -->
{{ range .AlternativeOutputFormats -}}
{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
{{ end -}}