{{ define "main" }}
<Section class="content">
	<div class="content-header">
		<div class="container">
			<div class="header-title">
				<h1 class="title">{{ .Title }}</h1>
			</div>
		</div>
	</div>

	<div class="archive">
		<div class="content-inner container">
			{{ $tags :=  where (where .Pages "Type" "in" site.Params.mainSections) "Kind" "page" }}
			<div class="row">
				<div class="article-tab col-12">
					<div class="row mt-3">
						{{ range $name, $taxonomy := .Site.Taxonomies.tags }}
						<div class="col-6 col-md-3 mb-3">

							<a class="feature shadow" href="/tags/{{ $name | urlize }}">
								<div class="feature-title">
									<span class="title text-sm">{{ $name }} <small>({{ .Count }})</small></span>
								</div>
								{{ range .Pages | first 1 }}
								<div class="feature-link" style="background-image: url({{ .Params.feature }});">
									<div class="feature-hover"></div>
								</div>
								{{ end }}
							</a>

						</div>
						{{ end }}
					</div>

				</div>

				<div class="article-list col-12">
					{{ range $article := $tags }}
					<div class="article-item">
						<div class="article-content">
							<div class="article-body">
								<div class="article-title">
									<h2><a href="{{ $article.RelPermalink }}">{{ $article.Params.title }}</a></h2>
								</div>
								{{ if ne .Params.type "picture" }}
								<div class="article-inner d-none d-sm-none d-md-block">
									{{ .Summary | plainify}}...
								</div>
								{{ end }}
							</div>
							<div class="article-footer d-flex ">
								<div class="article-metadata text-xs">
									{{ if $article.Params.tags }}
									<span class="article-tags">
										{{ range  .Params.tags }}
										<a href="{{ (urlize (printf "tags/%s" . )) | absURL }}/">{{ . }}</a>
										{{ end }}
									</span>
									{{ end }}
									<i class="separator px-2"></i>
									{{ if .Date }}
									<span class="article-date">
										{{ .Date.Format ($.Site.Params.DateFormatSingle | default "2006-01-02") }}
									</span>
									{{ end }}

								</div>
							</div>
							{{ if eq .Params.type "picture" }}
							{{ partial "picture.html" . }}
							{{ end }}
						</div>
						{{ if and (.Params.feature) (ne .Params.type "picture") }}
						<div class="article-image col-3">
							<div class="feature shadow">
								<a href="{{ $article.RelPermalink }}" class="feature-link"
									style="background-image: url({{ $article.Params.feature }});"></a>
							</div>
						</div>
						{{end}}
					</div>

					{{ end }}
				</div>
			</div>

		</div>
	</div>
</Section>
{{ end }}