<div class="row">
  {{ if .Get "s1" }}
  <div class="col-6 col-md-3 mb-3">
    <div class="feature shadow">
      <img class="feature-link" src="{{ .Get "s1" | safeURL }}" />
    </div>
  </div>
  {{ end }}
  {{ if .Get "s2" }}
  <div class="col-6 col-md-3 mb-3">
    <div class="feature shadow">
      <img class="feature-link" src="{{ .Get "s2" | safeURL }}" />
    </div>
  </div>
  {{ end }}
  {{ if .Get "s3" }}
  <div class="col-6 col-md-3 mb-3">
    <div class="feature shadow">
      <img class="feature-link" src="{{ .Get "s3" | safeURL }}" />
    </div>
  </div>
  {{ end }}
  {{ if .Get "s4" }}
  <div class="col-6 col-md-3 mb-3">
    <div class="feature shadow">
      <img class="feature-link" src="{{ .Get "s4" | safeURL }}" />
    </div>
  </div>
  {{ end }}
</div>

